.heroName {
  text-align: center;
}

.heroCarousel {

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  .caretLeft {
    transform: rotate(90deg);
    color: #96782d;
  }

  .caretRight {
    transform: rotate(-90deg);
    color: #96782d;
  }

}
