.podium{

  & > * + * {
    margin-top: 1em;
  }

  h2 {
    text-align: center;
  }
}

.podiumRank {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .rank, .score {
    font-size: 3em;
    font-weight: bold;
  }

  .rank {
    width: 1em;
  }

  .score {
    flex-grow: 1;
    text-align: right;
  }
}
