.Home {
  height: 100%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 64px auto auto;
}

.HomeLink {

  & + & {
    margin-top: 32px;
  }

  display: inline-flex;
  align-items: center;
  width: 100%;

  .HomeLinkImg {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 130px;
    width: 130px;

    & > img {
      width: 70%;
      height: auto
    }
  }

  .HomeLinkTitle {
    margin: 0 40px;
  }
}

@mixin color-link($radius-top-left, $radius-bottom-right, $color) {
  // self + img inside
  &, .HomeLinkImg {
    transition: background-color 0.3s ease;
    border-radius: $radius-top-left $radius-bottom-right;
  }

  // self when hover + img inside
  .HomeLinkImg, &:active, &:hover {
    background-color: $color
  }
}

.colorGreen {
  @include color-link(80px, 50px, rgba(5, 141, 5, 0.4));
}

.colorRed {
  @include color-link(50px, 80px, rgba(200, 100, 40, 0.4));
}

.colorYellow {
  @include color-link(80px, 50px, rgba(176, 176, 107, 0.7));
}


@media only screen and (max-width: 375px) {
  .HomeNav {
    margin: auto;
  }
  .HomeLink {

    .HomeLinkImg {
      height: 80px;
      width: 80px;
    }
  }
}
