.container {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2)), url("/style/png/forest.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  overflow: auto;
  padding: 8px;
}
