$primary-color: #96782d;


@import '../node_modules/spectre.css/src/spectre';
@import '../node_modules/spectre.css/src/spectre-exp';
@import '../node_modules/spectre.css/src/spectre-icons';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.column {
  padding: $layout-spacing;
}

.justify-content-center {
  justify-content: center;
}

.hero {
  min-width: 340px;
  padding: 1.5rem;
  background-color: rgba(247, 248, 249, 0.7);
}


@media only screen and (max-width: 375px) {
  .hero {
    min-width: 100%;
  }
}

a, a:focus, a:hover, a:active, a.active {
  outline: none !important;
  text-decoration: none !important;
}

h1 {
  color: #b2bfb1;
  font-size: 3em;
  font-weight: bold;
}

h2 {
  color: #205625;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  font-size: 2em;
  font-weight: bold;
}

h3 {
  color: $primary-color;
}

@media only screen and (max-width: 768px) {
  h1 {
    width: 100%;
    text-align: center;
  }
}


.tooltip-custom-left::after {
  left: 80px;
  min-width: 200px;
  white-space: pre-wrap;
}
